.logo_nombre { 
    display: inline;
    font-family: $fuenteTitulos;
    font-weight: 100;
    color: white;
}
.nombre_bold { 
    font-weight: 900;
    color: #050401;
}

.navbar { 
    background-color: $alternativa;
}