// Mixin para el contenedor de proyectos
@mixin contenedor-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

// Mixin para las cajas de proyectos
@mixin project-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid $alternativa;
    border-radius: 10px;
    text-align: center;

    img {
        width: 200px;
        height: 150px;
        border-radius: 5px;
    }

    h3 {
        margin-top: 10px;
    }
}

// Mixin para el fondo de color
@mixin bg-color {
    background-color: $alternativa;
}

// Mixin para la descripción de imágenes
@mixin imgdescripcion {
    font-family: $fuenteTitulos;
    font-weight: 500;
    color: white;
}